<?php

/**
 * Template
 */
return [
    'mysql' => [
        'driver' => 'pdo_mysql',
        'host' => 'IP_DB',
        'port' => 3306,
        'dbname' => 'DB_NAME',
        'user' => 'DB_USER',
        'password' => 'USER_PASSWORD',
    ],
];